<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Employee Lists</title>-->
<!--    <link rel="stylesheet" href="employee.css">-->
<!--</head>-->
<!--<body>-->
<!--<h1>Employee Posts</h1>-->
<!--<div class="navbar-header">-->
<!--    <h1 class="title">Welcome, <span class="username" th:text="${username}"></span></h1>-->
<!--</div>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Post Content</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody th:each="post : ${user.posts}">-->
<!--    <tr>-->
<!--        <td th:text="${post.textContent}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<form action="/create-post" method="POST">-->
<!--    <fieldset>-->
<!--        <legend>Add a Post</legend>-->
<!--        <label for="textContent">Post Content</label>-->
<!--        <textarea type="text" name="textContent" id="textContent"></textarea>-->
<!--        <input type="submit" value="Add Post">-->
<!--    </fieldset>-->

<!--    <h2 class="subtitle">Your Posts:</h2>-->
<!--    <ul>-->
<!--        <li th:each="post : ${userPosts}" class="post" th:text="${post.textContent}"></li>-->
<!--    </ul>-->
<!--    <div class="navbar-links">-->
<!--        <form action="/logout" method="POST">-->
<!--            <input type="submit" value="Log Out" class="logout-button">-->
<!--        </form>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->





<!--&lt;!&ndash;&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<html lang="en" xmlns:th="http://www.thymeleaf.org">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<head>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <title>Employee Lists</title>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <link rel="stylesheet" href="employee.css">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</head>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<body>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<h1>Employee </h1>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<table>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <tbody th:each="user : ${usernames}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <td th:text="${user.username}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </tbody>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</table>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;<h1>Employee Posts</h1>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<table>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <thead>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <th>Employee ID</th>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <th>Post Content</th>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </thead>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;</table>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;<form action="/create-post" method="POST">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <fieldset>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <legend>Add a Post</legend>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <label for="textContent">Post Content</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <textarea type="text" name="textContent" id="textContent"></textarea>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <input type="hidden" name="employeeUserId" th:value="${employeeUser.id}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <input type="submit" value="Add Post">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </fieldset>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</form>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <tbody th:each="post : ${user.posts}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <td th:text="${post.textContent}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </tbody>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</body>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</html>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<html lang="en" xmlns:th="http://www.thymeleaf.org">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<head>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <title>Employee Lists</title>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <link rel="stylesheet" href="employee.css">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</head>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<body>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<h1>Employee</h1>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<table>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;    <tbody th:each="user : ${usernames}">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;    <tr>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;        <td th:text="${user.username}"></td>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;    </tr>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;    </tbody>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</table>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;<h1>Employee Posts</h1>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<table>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <thead>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <th>Employee ID</th>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <th>Post Content</th>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </thead>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <tbody th:each="post : ${user.posts}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <td th:text="${post.id}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <td th:text="${post.textContent}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </tbody>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</table>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;<form action="/create-post" method="POST">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <fieldset>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <legend>Add a Post</legend>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <label for="textContent">Post Content</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <textarea type="text" name="textContent" id="textContent"></textarea>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <input type="hidden" name="employeeUserId" th:value="${userId.id}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <input type="submit" value="Add Post">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </fieldset>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</form>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</body>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</html>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<body xmlns:th="http://www.w3.org/1999/xhtml">&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Welcome, <span th:text="${user.username}"></span>!</h1>&ndash;&gt;-->

<!--&lt;!&ndash;<h2>Your Posts</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;    <thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Post Content</th>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr th:each="post : ${userPosts}">&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${post.textContent}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--&lt;!&ndash;<h2>Add a Post</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<form action="/create-post" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="hidden" name="employeeUserId" th:value="${employee.id}">&ndash;&gt;-->
<!--&lt;!&ndash;    <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;        <legend>Add a Post</legend>&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="textContent">Post Content</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <textarea type="text" name="textContent" id="textContent"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="submit" value="Add Post">&ndash;&gt;-->
<!--&lt;!&ndash;    </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
<!--&lt;!&ndash;<!doctype html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <meta name="viewport"&ndash;&gt;-->
<!--&lt;!&ndash;          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">&ndash;&gt;-->
<!--&lt;!&ndash;    <meta http-equiv="X-UA-Compatible" content="ie=edge">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Home</title>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="index.css">&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<nav class="navbar">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="navbar-header">&ndash;&gt;-->
<!--&lt;!&ndash;        <h1 class="title">Welcome, <span class="username" th:text="${username}"></span></h1>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="navbar-links">&ndash;&gt;-->
<!--&lt;!&ndash;        <form action="/logout" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="submit" value="Log Out" class="logout-button">&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="spacer"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<form action="/create-post" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="text">New Post:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="postText" id="text">&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="submit" value="Add Post">&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;<h2 class="subtitle">Your Posts:</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
<!--&lt;!&ndash;    <li th:each="post : ${userPosts}" class="post" th:text="${post.text}"></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->