<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Employee Lists</title>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="employee.css">&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Employee List</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;    <tbody th:each="user : ${usernames}">&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${user.username}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr th:if="${user != null and user.posts != null}" th:each="post : ${user.posts}">&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${post.textContent}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->
<!--&lt;!&ndash;<form method="POST" action="/add-employee">&ndash;&gt;-->
<!--&lt;!&ndash;    <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;        <legend>Add An Employee</legend>&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="username">Employee Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" name="username" id="username" required/>&ndash;&gt;-->

<!--&lt;!&ndash;        <input type="submit" value="Add Employee" />&ndash;&gt;-->
<!--&lt;!&ndash;    </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash;<h1>Employee Posts</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;    <thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Employee ID</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Post Content</th>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tbody th:each="post : ${user.posts}">&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${post.textContent}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--&lt;!&ndash;<form action="/create-post" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;    <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;        <legend>Add a Post</legend>&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="userId">Employee ID</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" name="userId" id="userId">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="textContent">Post Content</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <textarea type="text" name="textContent" id="textContent"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="hidden" name="employeeUserId" th:value="${user.id}">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="submit" value="Add Post">&ndash;&gt;-->
<!--&lt;!&ndash;    </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Employee Lists</title>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="employee.css">&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Employee </h1>&ndash;&gt;-->
<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;    <tbody th:each="user : ${usernames}">&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${user.username}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--&lt;!&ndash;<h1>Employee Posts</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;    <thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Employee ID</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Post Content</th>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </thead>&ndash;&gt;-->

<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--&lt;!&ndash;<form action="/create-post" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;    <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;        <legend>Add a Post</legend>&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="textContent">Post Content</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <textarea type="text" name="textContent" id="textContent"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="hidden" name="employeeUserId" th:value="${employeeUser.id}">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="submit" value="Add Post">&ndash;&gt;-->
<!--&lt;!&ndash;    </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;    <tbody th:each="post : ${user.posts}">&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${post.textContent}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en" xmlns:th="http://www.thymeleaf.org">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Employee Lists</title>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="employee.css">&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>Employee</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <tbody th:each="user : ${usernames}">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <td th:text="${user.username}"></td>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </tr>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    </tbody>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--&lt;!&ndash;<h1>Employee Posts</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;    <thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Employee ID</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th>Post Content</th>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </thead>&ndash;&gt;-->
<!--&lt;!&ndash;    <tbody th:each="post : ${user.posts}">&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${post.id}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td th:text="${post.textContent}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--&lt;!&ndash;<form action="/create-post" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;    <fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;        <legend>Add a Post</legend>&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="textContent">Post Content</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <textarea type="text" name="textContent" id="textContent"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="hidden" name="employeeUserId" th:value="${userId.id}">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="submit" value="Add Post">&ndash;&gt;-->
<!--&lt;!&ndash;    </fieldset>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
<!--<body xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<h1>Welcome, <span th:text="${user.username}"></span>!</h1>-->

<!--<h2>Your Posts</h2>-->
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>Post Content</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="post : ${userPosts}">-->
<!--        <td th:text="${post.textContent}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<h2>Add a Post</h2>-->
<!--<form action="/create-post" method="POST">-->
<!--    <input type="hidden" name="employeeUserId" th:value="${employee.id}">-->
<!--    <fieldset>-->
<!--        <legend>Add a Post</legend>-->
<!--        <label for="textContent">Post Content</label>-->
<!--        <textarea type="text" name="textContent" id="textContent"></textarea>-->
<!--        <input type="submit" value="Add Post">-->
<!--    </fieldset>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<nav class="navbar">
    <div class="navbar-header">
        <h1 class="title">Welcome, <span class="username" th:text="${username}"></span></h1>
    </div>
    <div class="navbar-links">
        <form action="/logout" method="POST">
            <input type="submit" value="Log Out" class="logout-button">
        </form>
    </div>
</nav>
<div class="spacer"></div>
<form action="/addpost" method="POST">
    <label for="text">New Post:</label>
    <input type="text" name="postText" id="text">
    <input type="submit" value="Add Post">
</form>
<h2 class="subtitle">Your Posts:</h2>
<ul>
    <li th:each="post : ${userPosts}" class="post" th:text="${post.text}"></li>
</ul>
</body>
</html>